* {
	background-color: #fff;
}

header#main-header, nav#main-navigation, footer#main-footer {
	display: none;
}

body {
	display: initial; /*fjerner grid-oppsettet siden vi bare skal ha innholdet i main*/
	font-size: 12pt; /*bruker pt istedenfor px på fonten, akkurat som i et "vanlig" tekstdokument*/
	font-family: "Times New Roman", Georgia;
}

main#main-area {
	display: block;
	padding: 0 0.6cm; /*marg på høyre/venstre side*/
}

h2 {
	font-size: 24pt;
	margin: 12px 0 8px 0;
}

h3 {
	font-size: 16pt;
	margin: 20px 0 8px 0;
}

h2, h3 {
	page-break-after: avoid; /*sørger for at overskriftene aldri står alene neders på en side*/
}

time.overskriftsDato {
	font-size: 10pt;
}

.bildeHoeyre {
	width: 36%;
}

.skjermbilde {
	width: 50%;
}

.skjermbilde figcaption {
	display: none;
}

a {
	color: #00f;
	page-break-inside: avoid;
}

a:after {
		content:" (" attr(href) ") "; /*legger til URLen bak den klikkbare linken*/
	}
	
figure a:after {
	content: none; /*fjerner tekst til figure (der det uansett bare står "klikk på bildet for å...")*/
}